//Rename this file to ".env" and paste the following information below.
//Make sure to get rid of the commenting!
//For more information on how to get a discord token please visit the documentation.
DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=
